{
  "LOG_LEVEL": "DEBUG",
  "ZOOM_TOKEN": "<ADD THIS TOKEN>",


  "ZOOM_USERS_URL": "<ADD YOUR USER URL>",
  "ZOOM_USERS_PARAMS": {
      "page_number": 1,
      "page_size": 300,
      "status": "active"
  },

  "ZOOM_MEETINGS_URL": "<ADD MEETING URL>",
  "ZOOM_MEETINGS_PARAMS": {
    "from": "2020-01-01",
    "page_size": 300,
    "type": "past"
  },

  "ZOOM_WEBINARS_URL": "<ADD WEBINAR URL>",
  "ZOOM_WEBINARS_PARAMS": {
    "from": "2020-01-01",
    "to": "2020-03-20",
    "page_size": 300,
    "type": "past"
  }


}